body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #333;
    padding: 30px;
    font-size: 18px;
    color: #fff;
  }
  .logo {
    margin-right: auto;
  }
  .heading {
    margin-left: auto; 
  }
  .heading ul {
    display: flex;
  }
  .logo a {
    color: #fff;
    transition-duration: 1s;
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
  }
  .logo a:hover {
    color: rgb(240, 6, 6);
    transition-duration: 1s;
  }
  .heading ul li {
    list-style: none;
  }
  .heading ul li a {
    text-decoration: none;
    font-weight: 500;
    position: relative;
    color: #fff;
    margin: 0 14px;
    font-size: 18px;
    transition-duration: 1s;
  }
  
  .heading ul li a:hover {
    color: rgb(240, 6, 6);
    transition-duration: 1s;
  }
  
  .heading ul li a::before {
    content: "";
    height: 2px;
    width: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
    transition-duration: 1s;
  }
  .heading ul li a:hover::before {
    width: 100%;
    transition-duration: 1s;
    background-color: rgb(240, 6, 6);
  }


  #contact {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  #contact h2 {
    margin-bottom: 20px;
  }
  
  #contact ul {
    list-style-type: none;
    padding: 0;
  }
  
  #contact li {
    margin-bottom: 10px;
  }
  
  #contact a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  #contact i {
    margin-right: 10px;
  }

  .playstore-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 9999px;
    background-color: rgba(0, 0, 0, 1);
    padding: 0.625rem 1.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    outline: 0;
    transition: all  .2s ease;
    text-decoration: none;
    width: 200px;
    margin-left: 0;
  }
  
  .playstore-button:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 1);
  }
  
  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  
  .texts {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
  }
  
  .text-1 {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }
  
  .text-2 {
    font-weight: 600;
  }


  .wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    width: 200px;
    margin-left: 0;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #000;
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
  }
  

  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
  }